:root {
  --background-color: #111111;
  --h1-color: #f1f1f1;
  --h2-color: #bbb;
  --title-page-color: #dadada;
  --details-color: #949494;
  --hr-color: #bbb;
  --high-contrast-color: #999;
  --input-color: #1A1A1A;
  --primary-color: #F74A39;
  --primary-color-selected: #A5271A;
  --secondary-color: #F1FAEE;
  --info-button-hover-color: #1a1a1a;
  --lowest-2-contrast-color: #222;
  --lowest-contrast-color: #333;
  --lower-contrast-color: #444;
  --higher-contrast-color: #dadada;
  --highest-contrast-color: #efefef;
  --auth-card-color: #141414;
  --toolbar-border-color: #303030;
  --toolbar-border-color-stronger: #afafaf;
  --button-color: #888888;
  --button-color-selected: #A5271A;
  --secondary-button-color: #d9d9d9;
  --secondary-button-hover-color: #a8a8a8;
  --dropdown-color: #1f1f1f;
  --dropdown-border-color: #222;
}
