:root {
  --background-color: #111111;
  --h1-color: #f1f1f1;
  --p-color: #999;
  --input-color: #1A1A1A;
  --primary-color: #F74A39;
  --primary-color-selected: #A5271A;
  --secondary-color: #F1FAEE;
  --lowest-contrast-color: #333;
  --low-contrast-color: #444;
  --highest-contrast-color: #efefef;
  --auth-card-color: #141414;
  --toolbar-border-color: #303030;
  --toolbar-border-color-stronger: #afafaf;
}
