@import 'variables';

.github-card {
  background-color: var(--card-color) !important;
  border-radius: 30px;
  height: 12rem !important;
  width: 24rem !important;
}

.github-card:hover .github-title {
  text-decoration: underline !important;
}

.github-card-skeleton {
  height: 12rem !important;
  width: 22rem !important;
  border-radius: 30px;
}

.github-card-none {
  padding: 1rem 1.2rem;
  height: 5rem !important;
  width: 100% !important;
  border-radius: 30px;
  background-color: var(--card-color) !important;
}

.github-card:hover .github-color-big,
.github-card:hover .github-color-medium,
.github-card:hover .github-color-small {
  height: 8px;
}

.github-color-big {
  position: absolute;
  left: 10%;
  bottom: 0;
  background-color: var(--secondary-color);
  width: 65%;
  height: 5px;
  border-radius: 10px 0 0 0;
  transition: height 0.2s ease-in-out;
}

.github-color-medium {
  position: absolute;
  left: 65%;
  bottom: 0;
  background-color: var(--primary-color);
  width: 15%;
  height: 5px;
  transition: height 0.2s ease-in-out;
}

.github-color-small {
  position: absolute;
  left: 80%;
  bottom: 0;
  background-color: var(--lowest-2-contrast-color);
  width: 10%;
  height: 5px;
  border-radius: 0 10px 0 0;
  transition: height 0.2s ease-in-out;
}

.github-tag {
  position: relative;
}

.github-tag:hover .github-close-circle {
  background-color: var(--lowest-2-contrast-color);
}

.github-tag:hover .github-close {
  color: var(--secondary-color);
}

.github-close-circle {
  position: relative;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  transition: background-color 0.2s ease-in-out;
}

.github-close {
  font-size: 0.9rem;
}

.filters-icon {
  color: var(--title-page-color) !important;
  font-size: 1.2rem;
  margin-right: 0.1rem;
}

.filters-text {
  color: var(--title-page-color) !important;
  font-size: 1.1rem;
  font-weight: 600;
}

.react-loading-skeleton {
  --base-color: var(--auth-card-color) !important;
  --highlight-color: var(--lowest-2-contrast-color) !important;
}

@keyframes skeleton-loading {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.github-stats {
  font-size: 0.7rem !important;
  font-weight: 600 !important;
}

.github-icon-pos {
  margin-left: auto !important;
  justify-content: flex-end !important;
}

.github-icon {
  color: var(--h2-color);
  font-size: 0.8rem;
  margin-right: 0.3rem;
}

.github-icon-blink {
  font-size: 1rem !important;
  color: var(--h2-color);
  font-size: 1.2rem;
  transition: color 0.1s ease-in-out;
  margin-bottom: 0.3rem;
}

.github-card:hover .github-icon-blink {
  animation: iconBlink 1s ease-in-out infinite;
}

@keyframes iconBlink {
  0% {
    color: var(--icon-glow-color);
  }
  50% {
    color: var(--h2-color);
  }
  100% {
    color: var(--icon-glow-color);
  }
}

.github-padding {
  padding: 1rem 1.5rem;
}

.github-arrow {
  width: fit-content;
  height: fit-content;
  padding: 0 !important;
  color: var(--primary-color) !important;
  font-size: 1.8rem !important;
}

.btn-info.github-arrow.disabled {
  color: var(--h2-color) !important;
}

.github-arrow:hover {
  background-color: transparent !important;
  border: var(--lowest-special-contrast-color) solid 1px !important;
}

.filters {
  padding: 0.2rem 0.5rem !important;
}

.filters:hover {
  background-color: transparent !important;
  border: var(--lowest-special-contrast-color) solid 1px !important;
}

.btn-info.filters.disabled {
  color: var(--h2-color) !important;
}

btn-info.filters {
  background-color: red !important;
  border: var(--lowest-special-contrast-color) solid 1px !important;
}

.github-title {
  color: var(--h2-color);
  font-size: 1.1rem;
  font-weight: 500;
}

.github-description {
  margin-top: 0.3rem;
  color: var(--details-color);
  font-size: 0.8rem;
  font-weight: 500;
}

.github-tags-wrapper {
  bottom: 12.5%;
}

.github-language-wrapper {
  margin-top: 0.1rem;
}

.github-language {
  border-radius: 50%;
  width: 0.4rem;
  height: 0.4rem;
  margin-right: 0.3rem;
}

.github-language-primary {
  background-color: var(--primary-color);
}

.github-language-secondary {
  background-color: var(--secondary-color);
}

.github-tag {
  display: inline-block;
  background-color: var(--secondary-color);
  border-radius: 30px;
  padding: 0.2rem 0.5rem;
  font-weight: 700 !important;
  font-size: 0.7rem;
  color: var(--secondary-color-contrast);
  margin-right: 0.5rem;
}

.dropdown-filters-cards {
  max-width: 15rem !important;
}

.welcome-banner {
  background-color: var(--card-color);
  border-radius: 30px;
  height: 13.5rem;
}

.welcome-borders {
  border-right: #c5c5c5 2px solid;
  border-left: #c5c5c5 2px solid;
}

.welcome-content {
  height: 85%;
  width: 100%;
}

.welcome-btn {
  bottom: 5%;
}

h4 {
  color: #fff;
  font-weight: 600;
  text-decoration: underline 2px;
}

.welcome-description {
  font-size: 0.9rem;
}

.welcome-btn-gap {
  margin-right: 0.9rem;
}

.welcome-icon {
  color: var(--primary-color);
  font-size: 1.5rem;
  margin-bottom: 0.4rem;
  margin-right: 0.4rem;
}
