@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');
@import 'variables';

html,
body,
#root {
  height: 100%;
}

::selection {
  background-color: var(--primary-color);
  color: var(--h1-color);
}

::-webkit-scrollbar {
  width: 10px;
  height: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 30px;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: transparent;
}

@media (min-width: 768px) {
  .col-md-4 {
    flex: 0 0 33.333333% !important;
    max-width: 33.333333% !important;
  }
}

@media (min-width: 1600px) {
  .col-lg-3 {
    flex: 0 0 25% !important;
    max-width: 25% !important;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.col-sidebar {
  width: 5rem !important;
}

.toolbar {
  -webkit-app-region: drag;
  border-bottom: var(--toolbar-border-color) solid 1px;
}

.toolbar-auth {
  position: fixed;
  -webkit-app-region: drag;
  background-color: transparent;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9998;
}

.toolbar-maximized {
  height: 30.5px;
}

.toolbar-normal {
  height: 31px;
}

.toolbar-logo {
  width: 50px; /* Adjust the width as per your needs */
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  // border-right: var(--toolbar-border-color-stronger) solid 1.5px;
}

.toolbar-logo-img {
  filter: brightness(65%);
}

body {
  font-family: 'Montserrat', sans-serif !important;
  background-color: var(--background-color) !important;
}

h1 {
  font-weight: 800 !important;
  color: var(--h1-color) !important;
}

h2 {
  font-weight: 600 !important;
  color: var(--h2-color) !important;
}

h5 {
  font-weight: 600 !important;
  color: var(--title-page-color) !important;
}

h5.header-main {
  color: var(--title-page-color) !important;
  font-weight: 600 !important;
}

hr {
  color: var(--hr-color) !important;
}

p {
  margin: 0 !important;
  color: var(--details-color) !important;
  font-weight: 500 !important;
}

label {
  color: var(--h1-color) !important;
}

input {
  font-weight: 600 !important;
}

textarea {
  font-weight: 600 !important;
}

textarea:focus {
  color: var(--highest-contrast-color) !important;
}

textarea:focus,
textarea:not(:placeholder-shown) {
  color: var(--highest-contrast-color) !important;
}

input::placeholder {
  color: var(--lower-contrast-color) !important;
}

input:focus {
  color: var(--highest-contrast-color) !important;
  box-shadow: 0 0 0 2px var(--primary-color) !important;
}

input:focus,
input:not(:placeholder-shown) {
  color: var(--highest-contrast-color) !important;
}

a {
  color: var(--secondary-color) !important;
}

option {
  background-color: var(--background-color) !important;
  color: var(--highest-contrast-color) !important;
  font-weight: 500;
}

.form-select-option {
  background-color: var(--lowest-2-contrast-color) !important;
  color: var(--highest-contrast-color) !important;
  height: 1rem !important;
  border-radius: 0.25rem !important;
  transition: background-color 0.1s ease-in !important;
}

.form-select {
  background-color: transparent !important;
  border-color: var(--lowest-contrast-color) !important;
  color: var(--highest-contrast-color) !important;
  box-shadow: none !important;
  transition: outline 0.1s ease-in !important;
  font-weight: 600 !important;
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
  padding-left: 0.5rem !important;
}

.form-select:hover {
  border-color: transparent !important;
  outline: 1.5px solid var(--h2-color);
}

.form-select:focus {
  border-color: var(--primary-color) !important;
  outline: 1.5px solid var(--primary-color);
}

.btn-primary {
  background-color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
  font-weight: 700 !important;
  font-size: 1rem !important;
}

.btn-secondary {
  background-color: var(--secondary-button-color) !important;
  border-color: var(--secondary-button-color) !important;
  font-weight: 700 !important;
  font-size: 1rem !important;
  color: var(--lowest-contrast-color) !important;
}

.btn-info {
  background-color: transparent !important;
  border-color: transparent !important;
  font-weight: 700 !important;
  color: var(--title-page-color) !important;
}

.btn-info:hover {
  background-color: var(--info-button-hover-color) !important;
}

.btn-primary:hover {
  background-color: var(--primary-color-selected) !important;
  border-color: var(--primary-color-selected) !important;
}

.btn-secondary:hover {
  background-color: var(--secondary-button-hover-color) !important;
  border-color: var(--secondary-button-hover-color) !important;
  color: var(--lowest-2-contrast-color) !important;
}

.btn-secondary:hover .btn-secondary-icon {
  color: var(--lowest-2-contrast-color) !important;
}

.dropdown-menu {
  background-color: var(--background-color) !important;
  border: 1px solid var(--lowest-special-contrast-color) !important;
}

.dropdown-divider {
  background-color: var(--details-color) !important;
}

.dropdown-item {
  font-weight: 500 !important;
  color: var(--title-page-color) !important;
}

.dropdown-item:hover {
  background-color: var(--primary-color) !important;
  color: var(--h1-color) !important;
}

.btn-icon {
  font-size: 1.1rem;
  margin-bottom: 0.1rem;
  margin-right: 0.2rem;
}

.btn-secondary-icon {
  font-size: 1.1rem;
  margin-bottom: 0.1rem;
  margin-right: 0.2rem;
  color: var(--lowest-contrast-color) !important;
}

h4.header-main {
  color: var(--title-page-color) !important;
  font-weight: 600 !important;
  text-decoration: none !important;
}

.link-no-underline {
  text-decoration: none !important;
}

.img-plane {
  position: absolute;
  z-index: 2;
  bottom: 10vh;
  width: 7vh;
  height: auto;
  animation: planeAnimation 10s ease-in-out infinite;
}

.img-cloud-front {
  position: absolute;
  z-index: 3;
  height: 25vh;
  width: auto;
  bottom: 0;
  animation: slideAnimationRight 5s ease-in-out infinite;
}

.img-cloud-back {
  filter: brightness(80%);
  position: absolute;
  z-index: 1;
  height: 30vh;
  width: auto;
  bottom: 0;
  animation: slideAnimationLeft 20s ease-in-out infinite;
  animation-delay: 1s;
}

@keyframes slideAnimationRight {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(70px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideAnimationLeft {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-60px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes planeAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-60px);
  }
  100% {
    transform: translateY(0);
  }
}

@import 'bootstrap/scss/bootstrap';
