@import 'variables';

.sidebar-btn {
  color: var(--button-color);
  cursor: pointer;
}

.classic-btn .active-icon {
  color: #f8f8f8;
}

.icon-lg {
  font-size: 1.8rem;
}

.icon-md {
  font-size: 1.4rem;
}

.classic-btn {
  transition: color 0.3s ease, transform 0.3s ease-in-out;
}

.classic-btn:hover {
  color: var(--higher-contrast-color) !important;
}

.btn-overlay {
  position: absolute;
  top: -37%;
  left: 50%;
  transform: translateX(-50%);
  width: 170%;
  height: 0;
  background-color: var(--primary-color);
  z-index: -2;
  opacity: 0;
  border-radius: 50px;
  transition: height 0.4s ease, opacity 0.4s ease;
}

.smart-btn:hover .btn-overlay {
  height: 600%;
  opacity: 100%;
}

.smart-btn:not(:hover) .btn-overlay {
  transition-delay: 0s;
  height: 160%;
  opacity: 0;
}

.smart-btn .icon-group {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  transition-property: opacity;
  transition-timing-function: ease-in-out;
  display: none;
}

.smart-btn:hover .icon-group {
  opacity: 100%;
  pointer-events: auto;
  transition-duration: 0.2s;
  transition-delay: 0.1s;
}

.smart-btn:not(:hover) .icon-group {
  transition-duration: 0.1s;
  transition-delay: 0s;
  opacity: 0;
}

.icon-group {
  margin-top: 2.1rem;
  color: #f8f8f8;
}

.icon-group .icon-md {
  margin-top: 1rem;
}

.btn-circle {
  position: absolute;
  top: -25%;
  left: 50%;
  transform: translateX(-50%);
  width: 150%;
  height: 150%;
  background-color: var(--button-color-selected);
  z-index: -1;
  opacity: 0;
  border-radius: 50%;
  transition: opacity 0.1s ease-in-out;
}

.btn-circle.btn-circle-search {
  width: 140%;
  height: 140%;
  top: 140%;
  transition: all 0.15s ease-in-out;
  opacity: 1;
  translate: translateX(-50%) scale(1);
}

.btn-circle.btn-circle-create {
  width: 140%;
  height: 140%;
  top: 275%;
  transition: all 0.15s ease-in-out;
  opacity: 1;
  translate: translateX(-50%) scale(1);
}

.btn-circle.btn-circle-status {
  width: 140%;
  height: 140%;
  top: 410%;
  transition: all 0.15s ease-in-out;
  opacity: 1;
  translate: translateX(-50%) scale(1);
}

.smart-btn:hover .btn-circle {
  opacity: 100%;
}

.smart-btn {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
  transition: transform 0.3s ease-in-out;
}

.smart-btn.active-icon .btn-overlay {
  transition-delay: 0s;
  height: 600%;
  opacity: 100%;
}

.smart-btn.active-icon .icon-group {
  opacity: 100%;
  pointer-events: auto;
}

.smart-btn.active-icon .btn-circle {
  opacity: 100%;
}

.smart-btn.active-icon {
  color: #f8f8f8 !important;
}

.smart-btn:hover {
  color: #f8f8f8 !important;
}

.smart-btn.active-icon ~ #movable-div {
  transform: translateY(calc(535% - 1.8rem));
}

.smart-btn:hover ~ #movable-div {
  transform: translateY(calc(535% - 1.8rem));
}

.settings-icons-margin {
  margin-top: 38vh;
}

.smart-btn:not(.active-icon):hover ~ .smart-btn.active-icon ~ #movable-div {
  transform: translateY(calc(975% - 1.8rem));
}

.smart-btn.active-icon ~ .smart-btn:not(.active-icon):hover ~ #movable-div {
  transform: translateY(calc(975% - 1.8rem));
}
